node_modules
code/node_modules
code/.env
code/coverage
code/coverage.json
code/typechain
code/typechain-types

#Hardhat files
code/cache
#artifacts

# python
code/__pycache__/
code/*.py[cod]
code/*$py.class

# vim
code/[._]*.s[a-v][a-z]mint
code/[._]*.sw[a-p]
code/[._]s[a-rt-v][a-z]
code/[._]ss[a-gi-z]
code/[._]sw[a-p]
code/netrwhist
code/*~
code/tags
code/[._]*.un~

# Logs
code/logs
code/*.log

# local env variables
code/.env

# macOS
code/.DS_Store

#artifacts

code/cache

code/yarn.lock

code/package-lock.json

.idea

code/artifacts

code/structure.md

.cursor/

code/*.sh